# Logs
logs
*.log
.pnpm-debug.log*

# Dependency directories
node_modules/

# dotenv environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

dist/
.cache/
prisma/migrations/

# Ressources sensibles

shared/config/webhooks.lua
shared/config/webhooks.lua
